* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
header,
main {
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding-right: 25px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-weight: 400;
  color: #929292;
  font-size: 14px;
  width: 90%;
}

.center {
  text-align: center;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.dark-text,
.lite-text {
  font: 19px 'Bebas Neue';
  line-height: 19px;
  text-transform: uppercase;
}

.dark-text {
  color: #be3600;
}

.lite-text {
  color: #fff;
  padding-left: 10px;
}

h2 {
  color: #ff6200;
  font-weight: 400;
  text-transform: uppercase;
}

.contact {
  font-weight: bolder;
  text-transform: none;
}

.top-section,
.header-container,
.nav-container,
.p-container,
.contact-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.menu li,
.nav-container li,
.social li {
  display: inline-block;
}

.top-section-wrapper {
  background-color: #ff6200;
  display: flex;
  height: 2.5em;
}

.top-section {
  margin: auto;
}

header {
  background-color: #f9f9f9;
  display: flex;
}

header,
.nav-container,
.contact-container {
  padding: 40px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

img {
  width: 250px;
  height: 50px;
}

.menu li {
  position: relative;
}

.menu li>a {
  display: block;
  padding: 10px 10px;
  color: #333;
  text-align: right;
  font: 15px Bebas Neue;
}

.menu li:hover>a {
  font-weight: 700;
  border-bottom: 3px solid #ff6200;
}

.submenu,
.sub-submenu {
  position: absolute;
  display: none;
  width: 120px;
  border: 1px solid #2e2b2b;
  background-color: #fff;
  z-index: 2;
}

.submenu li,
.submenu li a {
  width: 100%;
  margin: 0 auto 2px auto;
}

.submenu li:hover>a {
  border: none;
}

.menu li:hover .submenu {
  top: 37px;
  left: -26%;
  display: block;
}

.submenu li:hover .sub-submenu {
  top: 0;
  left: 118px;
  display: block;
}

a.nav {
  color: #929292;
}

.active {
  font-weight: 700;
  color: #000;
}

.contact-container {
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.cols {
  width: 50%;
}

.left.cols {
  padding-right: 15px;
}

.right.cols {
  padding-left: 40px;
}

.form-container {
  margin-top: 10px;
  padding: 18px 0;
  border-top: 6px solid #525252;
}

.address-container {
  border-top: 6px solid #525252;
  margin-top: 10px;
}

input,
textarea {
  padding: 12px;
  border: 1px solid rgba(119, 119, 119, .2);
  margin-bottom: 8px;
}

input {
  height: 2em;
}

input:nth-child(1) {
  margin-top: 8px;
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
}

input:nth-child(2),
input:nth-child(3) {
  margin-top: 8px;
  width: 49%;
  height: 50px;
  background-color: #f6f6f6;
}

textarea {
  margin-top: 8px;
  width: 100%;
  height: 150px;
  max-height: 500vh;
  resize: vertical;
  background-color: #f6f6f6;
}

::placeholder {
  color: #878787;
}

.btn {
  width: 120px;
  height: 50px;
  background-color: #ff6200;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 18px;
  margin-top: 10px;
  border: none;
}

.address {
  width: 100%;
  margin: 15px 0;
  color: #595959;
  font-size: 20px;
}

.info {
  margin-top: 10px;
}

.social {
  margin-top: 80px;
}

.fab {
  color: #aaa;
  padding-right: 5px;
}

.fab:hover {
  color: #2d2d2d;
}